
<div id="colorblock">

<p>The time is {{time}}</p> 
<p> {{name}} is logged in</p>

<form method="post">
        <input type="text" name="email" value="{{name}}"/>
     <div class="form-group">
            <label for="color">What's you're favorite color?</label>
            <input type="text" id="color" name="color" required value="{{input.color}}"/>
        </div>
    <div class="form-submit">
            <input type="submit" value="Submit" />
        </div>
</form>

<a href="/colors/coloruserlist">My Colors</a></br>
<a href="/colors/colorlist">Everyone's Colors</a></br>
<a href="/users/logout">Log out</a></br>
<a href="/">Home</a>
</div>


<div>
{{#if colors}}
<h1>Favorite color list</h1>   
 {{#each colors}} 
     <ul>
        <li> {{ email }} favorite color is {{ color }} </li>
        </ul> 
    {{/each}}
{{/if}}
</div>

